.headerImg {
  display: block;
  width: 50%;
  height: 100vh;
  background-image: url(./../../assets/Home-Hero-Image.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
